

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(109, 92, 92);
  background-image: linear-gradient(to top left,#dbe4db, #a8cfee);

  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
}

.logo {
  height: 5.25rem;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border:1px solid #898a88;
  background: #9be15d;
  border-radius: 20px;
  font-size: 1.5rem;
  padding:3px;
  padding-left: 10px;
  padding-right: 10px;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}
.login__btn:hover,
.login__btn:focus,
.btn--sort:hover
 {
  outline: none;
  color: rgb(139, 81, 81);
  background-color: #c3ee9d;
}
.btn--sort {
 position: relative;
  left:10px;
  bottom:11px;
}

/* MAIN */
.app {
  position: relative;
  max-width: 120rem;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out animation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(248, 244, 244);
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
  
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__row--dep {
  background-image: linear-gradient(to top left, #7fec85, #8be939);
}

.movements__row--withdr {
  background-image: linear-gradient(to top left, #f04236, #f5787e);
}


.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  border:1px solid white;
  padding-left: 10px;
  padding-right: 10px;

  font-size:15px;
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  border:1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  font-size:15px;
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
  font-weight: 900;
  color:white;
  font-size: 20px;
}

/* SUMMARY */
.summary {
  display: grid;
  position: relative;;
  grid-row: 5 / 6;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* display: flex; */
   align-items: stretch; 
  padding: 0 0.3rem;
 
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
   border:1px solid #fff;
  border-radius: 20px;
  padding: 10px;
  background-color: #e52a5a;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #e5f137, #f0c413);
  
}

.operation--loan {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operation--close {
  background-image: linear-gradient(to top left, #e52a5a, #f1858a);
}

h2 {
  margin-bottom: 2.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(27, 9, 9);
  background:rgba(235, 235, 14, 0.6); 
  display:inline;
  padding:2px 5px;
  border-radius: 3px;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
  margin-top:4px;
}

.form__label-- {
  grid-row: 2;
  
}

/* Exceptions for interest */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
  
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  padding:1px 5px;
  border-radius: 1.7rem;
  border:2px solid rgb(58, 54, 54,0.5);
  font-size: 1.8rem;
  background-color: rgb(241, 116, 112);
  background-image: url("https://cdn.pixabay.com/photo/2017/11/14/00/57/christmas-2947257__340.jpg");
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:hover {
  outline: none;
  background-color:rgb(92, 202, 241);
  background-image: url("https://cdn.pixabay.com/photo/2013/10/27/17/14/snowfall-201496__340.jpg");
  transform: scale(1.1);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

 @media (max-width:768px){
   
  nav{
    transform: scale(0.8);
    margin-left:-80px;
    
  }
  .logo{
    transform: scale(0.5);
    opacity: 0;
  }
    .app{
      grid-template-columns: 100%;
      grid-column-gap:1em;
      width:100%;
    }
    
    .login__input {
  border: none;
  padding: 0.5rem 0.5rem;
  width: 8rem;
    }
    .login__btn{
      font-size:18px;
      border:1px solid gray;
    }
    .welcome{
      width:50%;
      padding: 0 1rem;
       grid-column: 1;
      grid-row:1 ;
    }
    .balance{
      grid-column: 1;
      grid-row:2 ;
    }
    .movements{
      overflow: scroll;
       grid-column:1;
      grid-row:3/8;
    }
       .summary{
    grid-column: 1;
    grid-row: 8/9;
    grid-template-columns:1fr 2fr 1fr 2fr;
}
    .btn--sort{
      transform: scale(0.8);
      border:2px solid yellow;
     padding:10px 8px;
     font-size: 18px;
     margin-top:4px;
     margin-right:-80px;
    }
    
    .operation--transfer{
      grid-column: 1;
     grid-row:9/10 ;
    }
   .operation--loan{
    grid-column: 1;
    grid-row: 10/11;
    }
    .operation--close{
    grid-column: 1;
    grid-row: 11/12;
}
.summary{
   margin-bottom: -2rem; 
}
 
.logout-timer{
  
  grid-column: 1;
    grid-row: 12/13;
}

  }
  footer{
    display: grid;
    
  }
.foot{
    justify-self: center;
    align-self: center;
    font-size: 30px;
}
